.canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 400px;
    /*position: absolute;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title {
  color:#24A5BA;
  text-align: center;
  /*margin: -;*/
  font-size: 65px;
  font-family: "title";
}

@font-face{
font-family: "title";
 src: url("PROMETHEUS.ttf");
}

/*.leaderBoard {
  color:red;
  float: right;
}*/

.leader {
  font-family: "title";
  font-size: 40px;
  color: #02C803;
  text-transform: uppercase;
}
body{
  background-image:  url("sky.jpg");
}

.scoreModal{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  font-family: "title";
  

}
